# Export all names
exportPattern(".")

import(data.table)
import(Chicago)
importFrom(IRanges, IRanges, disjointBins, start, end)
import(DESeq2)
importFrom(IHW, ihw)
import(ggplot2)
import(hexbin)
importFrom(cowplot, plot_grid, get_legend)
importFrom(harmonicmeanp, p.hmp)
